<img class="bg" src="assets/img/board.jpg">

<div class="scroll-container hide-desktop">
    <app-player *ngFor="let player of game.players|shiftPlayer:game.currentPlayer; let i = index" class="hide-desktop"
        [name]="player.name" [profilePicture]="player.profilePicture"
        [playerActive]="player == game.players[game.currentPlayer]" [player]="player" [i]="game.players.indexOf(player)"
        [game]="game" [firestore]="firestore" [gameId]="gameId">
    </app-player>
</div>

<div class="player-container hide-mobile">
    <app-player *ngFor="let player of game.players|shiftPlayer:game.currentPlayer; let i = index"
        class="player-position hide-mobile" [name]="player.name" [profilePicture]="player.profilePicture"
        [playerActive]="player == game.players[game.currentPlayer]" [player]="player" [i]="game.players.indexOf(player)"
        [game]="game" [firestore]="firestore" [gameId]="gameId" [ngStyle]="{'top.px': 50 + (i * 100)}">
    </app-player>
</div>

<div class="field">
    <div class="card-stack">
        <!-- Card stack -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px': i * 5, 'top.px': -50}"
            src="assets/img/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px; top: -50px" src="assets/img/card_cover.png">

        <!-- Stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="assets/img/{{ card }}.png">

        <!-- Current card (Animation) -->
        <img *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px; top: -50px"
            src="assets/img/{{ game.currentCard }}.png">
    </div>
</div>

<div *ngIf="gameOver" class="game-over">
    <img src="assets/img/gameover.jpg" class="gameover-bg">
    <img (click)="startNewGame()" class="reload-img" src="assets/img/reload.png">
</div>

<app-game-info [card]="game.currentCard" [players]="game.players" class="pin-bottom">
</app-game-info>

<button (click)="openDialog()" mat-fab color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>