.profile-picture-container {
    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        margin: 0;
    }

    .selected {
        background-color: rgb(224, 224, 224);
        border: 2px solid rgb(117, 117, 117);
    }

    label {
        margin: 0 2px;
        &:first-child {
            margin-right: 4px !important; 
        }
        &:last-child {
            margin-left: 4px !important;
        }
    }

    img {
        cursor: pointer;
        margin-top: 12px;
        width: 48px;
        height: 48px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        border: 1px solid rgb(224, 224, 224);

        &:hover {
            background-color: rgb(224, 224, 224);
        }
    }

}

mat-form-field {
    width: 100%;
}